<h1짧은 링크 만들기</h1>
    
<form action="/links" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    긴 : <input type="text" name="long"/>
    짧은 : <input type="text"/ name="short">
    <input type="submit"/>
    
</form>

